/* Estilos Globais */
body {
    /* background-color: #fff !important; */
    background-color: #1e1e1e !important; 
    font-family: 'Raleway', sans-serif;
    margin: 0  !important;
    padding: 0 !important;
}



/* Navbar */
.navbar {
    background: #1e1e1e !important;
    padding: 15px 20px;
    height: 100px;
    display: flex;
    align-items: center; /* Mantém os itens alinhados verticalmente */
    justify-content: space-between; /* Espaço entre os itens */
}

.navbar-nav {
   padding-right: 150px !important;
}


.navbar-brand img {
    max-height: 100px; /* Define a altura máxima da logo */
    width: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Garante que a imagem não se expanda */
}

.navbar a {
    color: white !important;
    font-weight: bold;
    font-family: 'Orbitron';
    font-size: 15px;
}

.navbar a:hover {
    color: #ffcc00 !important;
}

/* Botão "Click for More" */
.link-area {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px;
    border-radius: 40px;
    background: tomato;
    z-index: 100;
}

.link-area a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

/* Custom Properties (Variables) */
:root {
    --white-color: #ffffff;
    --primary-color: #002539;  /* Azul vibrante */
    --secondary-color: #00B4D8; /* Azul claro */
    --custom-btn-bg-color: #008fbf; /* Azul médio */
    --custom-btn-bg-hover-color: #023E8A; /* Azul escuro */
    --dark-color: #000000;
    --p-color: #717275;
    --link-hover-color: #005F73; /* Azul esverdeado profundo */
    --body-font-family: 'Unbounded', sans-serif;
}


/* General Styles */
.text-home{
color: #fff;
}

.sub-title-header-home{
    font-size: 25px !important; /* Um pouco menor que o título */
    color: #d1d1d1; /* Cinza claro para leitura confortável */
    text-align: right; /* Centraliza o subtítulo */
}


/* Custom Button */
.custom-btn {
    background: var(--custom-btn-bg-color);
    border: 2px solid transparent;
    border-radius: 100px;
    color: var(--white-color);
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    transition: all 0.3s;
}

.custom-btn:hover {
    background: var(--custom-btn-bg-hover-color);
    color: var(--white-color);
}

.title-header-home{
    text-align: right; /* Centraliza o subtítulo */
}


.header-carousel {
    border: 5px solid #1e1e1e; /* Define a cor e espessura da borda */
    border-radius: 10px; /* Arredonda as bordas (opcional) */
    padding: 10px; /* Adiciona um pequeno espaço interno */
    background-color: #d3d3d3; /* Garante que o fundo fique uniforme */
}

.header-carousel .owl-nav {
    position: absolute;
    width: 200px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    transition: .5s;
}

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: #FFFFFF;
    border-radius: 5px;
}

.header-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

@media (max-width: 991.98px) {
    .flex-column-reverse {
        flex-direction: column-reverse !important;
    }
}
.hero-image-container .owl-carousel {
    margin-top: 0 !important;
}